@model PassionProject_Main.Models.AgentDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConatactInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConatactInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sepcialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sepcialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommissionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommissionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerfomanceMetrics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerfomanceMetrics)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgentId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.AgentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
